* {
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}

:root {
  --primary: #e5f8f6;
  --secondary: rgb(7, 29, 13);
  --tertiary: #0d0811;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  background-color: var(--primary);
}